<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="fairshareOrderer" class="cz.muni.fi.scheduler.fairshare.FairShareOrderer">
       <constructor-arg ref="priorityCalculator"/>
   </bean>
   
   <bean id="priorityCalculator" class="cz.muni.fi.scheduler.fairshare.calculators.MaxMinCalculator">
       <constructor-arg index="0" ref="vmPool"/>
       <constructor-arg index="1" value="false"/>
   </bean>
    
   <bean id="clusterPool" class="cz.muni.fi.xml.pools.ClusterXmlPool">
       <constructor-arg value="clusterpool.xml"/>
   </bean>
   
   <bean id="datastorePool" class="cz.muni.fi.xml.pools.DatastoreXmlPool">
       <constructor-arg value="datastorepool.xml"/>
   </bean>
   
   <bean id="hostPool" class="cz.muni.fi.xml.pools.HostXmlPool">
       <constructor-arg value="hostpool.xml"/>
   </bean>
   
   <bean id="userPool" class="cz.muni.fi.xml.pools.UserXmlPool">
       <constructor-arg value="userpool.xml"/>
   </bean>
   
   <bean id="vmPool" class="cz.muni.fi.xml.pools.VmXmlPool">
       <constructor-arg value="vmpool.xml"/>
   </bean>
   
   <!--bean id="clusterPool" class="cz.muni.fi.one.pools.ClusterElementPool">
       <constructor-arg ref="oneClient"/>
   </bean>
   
   <bean id="datastorePool" class="cz.muni.fi.one.pools.DatastoreElementPool">
       <constructor-arg ref="oneClient"/>
   </bean>
   
   <bean id="hostPool" class="cz.muni.fi.one.pools.HostElementPool">
       <constructor-arg ref="oneClient"/>
   </bean>
   
   <bean id="userPool" class="cz.muni.fi.one.pools.UserElementPool">
       <constructor-arg ref="oneClient"/>
   </bean>
   
   <bean id="vmPool" class="cz.muni.fi.one.pools.VmElementPool">
       <constructor-arg ref="oneClient"/>
   </bean>   
   
   <bean id="oneClient" class="org.opennebula.client.Client">
       <constructor-arg index="0" value="root:opennebula"/>
       <constructor-arg index="1" value="http://localhost:2633/RPC2"/>
   </bean-->

</beans>